@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.Todo {
  display: block;
  position: relative;
  padding: 1rem;
  margin-bottom: .5rem;
  background-color: #CCC;
  @include border-radius(4px);
}

.Todo.completo {
    background-color: #C8E1BC;
}

.Todo:last-child {
  margin-bottom: 0;
}

.Todo {
    p {
        font-size: 2rem;
        font-weight: bold;
        margin: .5rem 0 .5rem 0;
    }
}

.Todo.completo {
    p {
        text-decoration: line-through;
    }
}

.Todo-botao-excluir {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.Todo-botao-completar, .Todo-botao-liberar {
    display: block;
    padding: .5rem;
    background-color: #3d3d3d;
    text-align: center;
    text-decoration: none;
    color: #EEE;
    @include border-radius(4px);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.Todo-botao-completar:hover, .Todo-botao-liberar:hover {
    background-color: #666;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

@media all and (min-width: 31.25rem) {
    .Todo {
        p {
            margin: .5rem 7rem 0 0;
        }
    }

    .Todo-botao-completar, .Todo-botao-liberar {
        position: absolute;
        top: 2.5rem;
        right: 1rem;
    }
}