@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@import 'reset';

.App {
  margin: 1rem auto;
  width: 100;
  max-width: 1000px;
}

header {
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

header {
  span {
    color: #EEE;
  }

  a {
    display: none;
    float: right;
    padding: .1rem 1rem;
    background-color: white;
    @include border-radius(4px);
  }

  a {
    img {
      width: 8rem;
      height: auto;
    }
  }
}

main {
  background-color: #EEE;
  box-sizing: border-box;
  padding: 2rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  @include border-radius(4px);
}